div {
    margin-top: 20px;
  }
  
  button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
  }
  
  button.active {
    background-color: #ddd;
  }